*{
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
}

h2{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 16px;
}

body{
    background: #F3F5FC;
    display:flex;
    justify-content: space-between;
    margin: 40px;
    height: 90%;
}

aside{
    width: 10%;
}

main{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.caja-input, .caja-output{
    height: 100%;
}

.caja-input{
    width: 70%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    margin: 0 2.5%;
    align-content: space-around;
}

.caja-output{
    background-color: white;
    width: 30%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    justify-content: center;
    text-align: center;
}
/* INPUT */

.caja-texto{
    height: 85%;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caja-texto textarea{
    resize: none;
    height: 75%;

    width: 100%;
    border: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    
}

textarea, textarea::placeholder{
    color: #0A3871;
}

.recordatorio{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.recordatorio p{
    margin-left: 5px;
    font-size: 12px;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.boton{
    width: 47%;
    border-radius: 12px;
    padding: 12px 0;
}

.solo{
    width: 100%;
}

/* OUTPUT */

.caja-output svg{
    width: 100%;
}

.resultado-output{
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* BOTONES */

.oscuro{
    background: #0A3871;
    color: white;
}

.claro{
    background: none;
    color: #0A3871;
}

.oscuro:hover, .claro:hover{
    cursor: pointer;
}

.oscuro:hover{
    background: #2e609e;
}

.claro:hover{
    background: #D8DFE8;
}